<div class="field">
    
    <%= form_for(@password_recovery, url: pass_recovery_path, data:{toggle:"validator"},:html => {:method=> "post"}) do |f| %>
        <div class="field" style="text-align: left">
            <%= f.label :email %><br>
            <%= f.text_field :email , :class => "form-control"%>
        </div>
        <div class="actions">
            <%= f.submit  "Enviar Mensagem" ,:class => "btn btn-success btn-lg", :style => "width: 100%"%>
        </div>
    <%end%>
</div>