<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-body" style="background: rgb(243, 243, 243) none repeat scroll 0% 0%; text-align:center">
                <h4><b>Redefinir sua senha</b></h4>
                Coloque o endereço de e-mail
                <br><br><br>
                <%= render 'passform' %>
            </div>
        </div>
    </div>
</div>
