 
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-body">
                <%= form_for(:session, url: login_path,data:{toggle:"validator"}) do |f| %>
                   <div class="form-group">
                      <label for="pwd">Email:</label>
                      <input type="email" class="form-control" id="pwd" name="session[email]" data-error="Digite um e-mail válido!" required>
                      <div class="help-block with-errors"></div>
                   </div>
                   <div class="form-group">
                      <label for="pwd">Senha:</label>
                      <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password"  name="session[password]" required>
                      <div class="help-block">Minimo 6 caracteres!</div>
                   </div>
                   <button type="submit" class="btn btn-success btn-lg" style="width:100%">Fazer Login</button
                <% end %>
                <a href='/signup' id='register'>não possui cadastro?</a>
                <hr></hr>
                <a class="btn btn-social-icon btn-twitter">
                    <span class="fa fa-twitter"></span>
                </a>
            </div>
        </div>
    </div>
</div>