<select id="combo" style='width: 200px'>
<!--    <option value=""></option>
    <option value="scs">São Caetano do Sul</option>
    <option value="sa">Santo André</option>
    <option value="sbc">São Bernardo do Campo</option> -->
</select>

<input type="button" id="btnCarregar" value="Carregar combobox" />