<br></br>
<%= form_for(@user) do |f| %>
<form role="form" >
   <h2>Log in</h2>
   <div class="form-group">
      <label for="email">nome:</label>
      <input type="text" class="form-control" id_nome="email" nome="user[first_name]">
   </div>
   <div class="form-group">
      <label for="pwd">sobrenome:</label>
      <input type="text" class="form-control" id_sobrenome="pwd" sobrenome="user[last_name]">
   </div>
   <div class="form-group">
      <label for="pwd">email:</label>
      <input type="email" class="form-control" id_email="pwd"email="user[email]">
   </div>
   <div class="form-group">
      <label for="pwd">senha:</label>
      <input type="password" class="form-control" id_senha="pwd" senha="user[password]">
   </div>
   <div class="form-group">
      <label for="pwd">confirmar_senha:</label>
      <input type="password" class="form-control" id_confirmar_senha="pwd" confirmar_senha="user[password_confirmation]">
   </div>
   <button type="submit" class="btn btn-success btn-lg" style="width:100%">Log in</button>
</form>
<% end %>