<%= form_for(@user,data:{toggle:"validator"}) do |f| %>
   <h2>Log in</h2>
   <div class="form-group">
      <label for="email">Nome:</label>
      <input type="text" class="form-control" id="email" name="user[first_name]" required>
   </div>
   <div class="form-group">
      <label for="pwd">Sobre nome:</label>
      <input type="text" class="form-control" id="pwd" name="user[last_name]">
   </div>
   <div class="form-group">
      <label for="pwd">Email:</label>
      <input type="email" class="form-control" id="pwd" name="user[email]" required>
   </div>
   <div class="form-group">
      <label for="pwd">Senha:</label>
      <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password"  name="user[password]" required>
      <div class="help-block">Minimo 6 caracteres!</div>
   </div>
   <div class="form-group">
      <label for="pwd">Confirmar senha:</label>
      <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Senhas não coincidem!" placeholder="Confirm" name="user[password_confirmation]" required>
      <div class="help-block with-errors"></div>
   </div>
   <button type="submit" class="btn btn-success btn-lg" style="width:100%">Log in</button
<% end %>

