<br></br>
<%= form_for(@user) do |f| %>
<form role="form" >
   <h2>Log in</h2>
   <div class="form-group">
      <label for="email">Nome:</label>
      <input type="text" class="form-control" id="email" name="user[first_name]">
   </div>
   <div class="form-group">
      <label for="pwd">Sobre nome:</label>
      <input type="text" class="form-control" id="pwd" name="user[last_name]">
   </div>
   <div class="form-group">
      <label for="pwd">Email:</label>
      <input type="email" class="form-control" id="pwd" name="user[email]">
   </div>
   <div class="form-group">
      <label for="pwd">Senha:</label>
      <input type="password" class="form-control" id="pwd" name="user[password]">
   </div>
   <div class="form-group">
      <label for="pwd">Confirmar senha:</label>
      <input type="password" class="form-control" id="pwd" name="user[password_confirmation]">
   </div>
   <button type="submit" class="btn btn-success btn-lg" style="width:100%">Log in</button>
</form>
<% end %>