
<h1 text-align="center" style="text-align: center">Chamados Monitorados</h1>    
<div>
<%if @chamados.length > 0%>    
<br><br>
<div>
 <table class="table table-striped" style="width: 70%;"align="center">
  <thead>
   <TR>
    <TH> Serviço </TH>
    <TH> Bairro </TH>
    <TH> Logradouro </TH>
    <TH> Data de Criação </TH>
    <TH> Situação </TH>
    <TH> Monitorar </TH>
  </TR>
  </thead>
  <tbody  id="myTable" >
<%@chamados.each do |chamado| %>  
    
    <tr>
    <td><%=chamado.servico %></td>
    <td><%=chamado.bairro %></td>
    <td><%= chamado.logradouro %></td>
    <td><%= chamado.data_demanda %></td>
    <td><%= chamado.situacao %></td>
    <%if chamado.id_user == current_user.id%>
    <td><input checked value = <%="#{chamado.id},#{chamado.bairro},#{chamado.logradouro}"%> type="checkbox" onchange="toggleCheckbox(this)"></td>
    <%else%>
    <td><input value = <%="#{chamado.id},#{chamado.bairro},#{chamado.logradouro}"%> type="checkbox" onchange="toggleCheckbox(this)"></td>
    <%end%>
     </tr>
<% end %>
  </tbody>
</table>
</div>
 <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
	</div>
<%else%>
<br><br>
<br><br>
<div class="alert alert-info" role="alert" style="width: 70%; margin: 0 auto;">
<div>
   <h2 text-align="center" style="text-align: center">Você não está monitorando chamados atualmente, acesse este <a href='/chamados'>link</a> para começar!</h2> 
</div>
</div>
<%end%>
</div>
</div>



<script>
 $.fn.pageMe = function(opts){
    var $this = this,
        defaults = {
            perPage: 7,
            showPrevNext: false,
            hidePageNumbers: false
        },
        settings = $.extend(defaults, opts);
    
    var listElement = $this;
    var perPage = settings.perPage; 
    var children = listElement.children();
    var pager = $('.pager');
    
    if (typeof settings.childSelector!="undefined") {
        children = listElement.find(settings.childSelector);
    }
    
    if (typeof settings.pagerSelector!="undefined") {
        pager = $(settings.pagerSelector);
    }
    
    var numItems = children.size();
    var numPages = Math.ceil(numItems/perPage);

    pager.data("curr",0);
    
    if (settings.showPrevNext){
        $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
    }
    
    var curr = 0;
    while(numPages > curr && (settings.hidePageNumbers==false)){
        $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
        curr++;
    }
    
    if (settings.showPrevNext){
        $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
    }
    
    pager.find('.page_link:first').addClass('active');
    pager.find('.prev_link').hide();
    if (numPages<=1) {
        pager.find('.next_link').hide();
    }
  	pager.children().eq(1).addClass("active");
    
    children.hide();
    children.slice(0, perPage).show();
    
    pager.find('li .page_link').click(function(){
        var clickedPage = $(this).html().valueOf()-1;
        goTo(clickedPage,perPage);
        return false;
    });
    pager.find('li .prev_link').click(function(){
        previous();
        return false;
    });
    pager.find('li .next_link').click(function(){
        next();
        return false;
    });
    
    function previous(){
        var goToPage = parseInt(pager.data("curr")) - 1;
        goTo(goToPage);
    }
     
    function next(){
        goToPage = parseInt(pager.data("curr")) + 1;
        goTo(goToPage);
    }
    
    function goTo(page){
        var startAt = page * perPage,
            endOn = startAt + perPage;
        
        children.css('display','none').slice(startAt, endOn).show();
        
        if (page>=1) {
            pager.find('.prev_link').show();
        }
        else {
            pager.find('.prev_link').hide();
        }
        
        if (page<(numPages-1)) {
            pager.find('.next_link').show();
        }
        else {
            pager.find('.next_link').hide();
        }
        
        pager.data("curr",page);
      	pager.children().removeClass("active");
        pager.children().eq(page+1).addClass("active");
    
    }
};

 function toggleCheckbox(element)
 { 
   if(element.checked == true){
     console.log('monitorar')
     $.post('/chamado/procurar_cb',{ params: element.value},function(data){
          console.log('fdwfwf');
     })
    
   }else{
      $.post('/chamado/procurarLogradouro_cb_ex',{ params: element.value},function(data){
          console.log('fdwfwf');
     })
     
   }
  
 };
 
$( document ).ready(function() {
   
$('#myTable').pageMe({pagerSelector:'#myPager',showPrevNext:true,hidePageNumbers:false,perPage:10});
    
});  


</script>