<div class="row">
   <div class="col-md-4"> </div>
   <div class="col-md-4">
      <div>
         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <form role="form" >
            <h2>Log in</h2>
            <div class="form-group">
               <label for="email">Email address:</label>
               <input type="email" class="form-control" id="email" name="user[email]">
            </div>
            <div class="form-group">
               <label for="pwd">Password:</label>
               <input type="password" class="form-control" id="pwd" name="user[password]">
            </div>
            <a href='/users/sign_up' id='register'>não possui cadastro?</a>
            <button type="submit" class="btn btn-success btn-lg" style="width:100%">Log in</button>
         </form>
         <% end %>
         <div id="botaoLogin">
            <div  class="col-md-6">
               <button type="button" class="btn btn-primary btn-block">Facebook</button>
            </div>
            <div  class="col-md-6">
               <button type="button" onclick="location.href='/users/auth/google_oauth2'" class="btn btn-danger btn-block">Google+</button>
            </div>
         </div>
      </div>
   </div>
</div>
