<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-body" style="background: rgb(243, 243, 243) none repeat scroll 0% 0%; text-align: justify; font-size: 12pt">
                &nbsp;&nbsp;&nbsp;&nbsp;Não ter um acompanhamento do andamento dos chamados em aberto da EMLURB é algo que deixa muito a desejar. Muitas vezes gostaríamos de saber se o chamado foi realmente aberto, ou em qual status o chamado se encontra. Então porquê não oferecer uma maneira das pessoas ter acesso a tais informações de forma fácil, rápida e eficiente?<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;Com isso em mente, decidimos criar uma solução focada em fornecer tais informações, com qualidade e facilidade para os usuários que desejam fazer acompanhamentos de chamados de seu interesse. Com o Watchlurb esperamos atender todas as necessidades dos cidadãos, e sempre estaremos trabalhando em atualizações para tornar a experiência do usuário cada vez mais agradável.
                <br><br>
                <h4><b>Equipe:</b></h4>
                <div id="outer">
                    <div id="inner" style="text-align: center">
                        <%=image_tag 'equipe.jpg', :style => 'width:100%; height: auto; margin-left: auto; margin-right: auto' %>
                        <p style="font-size:9pt"><i>Diego Reynaux, Rafael Jordão, Débora de Moura, Roberto Oliveira</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>