<div id="divALert" class="row">
<div class="col-md-4"> </div>
<div class="col-md-4">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>  alert-dismissible">
    <a href="#" data-dismiss="alert" onclick="$('.alert').hide()" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
</div>
</div>